[Unit]
Description = pocketbase

[Service]
Type             = simple
User             = root
Group            = root
LimitNOFILE      = 4096
Restart          = always
RestartSec       = 5s
StandardOutput   = append:/root/pb/std.log
StandardError    = append:/root/pb/std.log
WorkingDirectory = ${POCKETBASE_HOME}
ExecStart        = ${POCKETBASE_BIN} serve --http ${POCKETBASE_HOST}:${POCKETBASE_PORT}

[Install]
WantedBy = multi-user.target
